---
import Sun from './icons/Sun.astro';
import Moon from './icons/Moon.astro';
import System from './icons/System.astro';
---

<div class="theme-toggle">
  <button id="theme-toggle-light" aria-label="Usar tema claro" class="transition-smooth p-2 rounded-full hover:bg-[var(--primary)] hover:text-white">
    <Sun />
  </button>
  <button id="theme-toggle-dark" aria-label="Usar tema oscuro" class="transition-smooth p-2 rounded-full hover:bg-[var(--primary)] hover:text-white">
    <Moon />
  </button>
  <button id="theme-toggle-system" aria-label="Usar tema del sistema" class="transition-smooth p-2 rounded-full hover:bg-[var(--primary)] hover:text-white">
    <System />
  </button>
</div>

<script>
  const html = document.documentElement;
  const lightButton = document.getElementById('theme-toggle-light');
  const darkButton = document.getElementById('theme-toggle-dark');
  const systemButton = document.getElementById('theme-toggle-system');

  // Definir el tipo de theme explícitamente
  type Theme = 'light' | 'dark' | 'system';

  const setTheme = (theme: Theme) => {
    html.classList.remove('light', 'dark');
    if (theme !== 'system') {
      html.classList.add(theme);
    }
    localStorage.setItem('theme', theme);
  };

  const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');

  const initializeTheme = () => {
    const savedTheme = localStorage.getItem('theme') as Theme || 'system';
    if (savedTheme === 'system') {
      setTheme(prefersDark.matches ? 'dark' : 'light');
    } else {
      setTheme(savedTheme);
    }
  };

  // Verificar que los botones existan antes de añadir event listeners
  if (lightButton instanceof HTMLElement) {
    lightButton.addEventListener('click', () => setTheme('light'));
  } else {
    console.error('No se encontró el botón con ID "theme-toggle-light"');
  }

  if (darkButton instanceof HTMLElement) {
    darkButton.addEventListener('click', () => setTheme('dark'));
  } else {
    console.error('No se encontró el botón con ID "theme-toggle-dark"');
  }

  if (systemButton instanceof HTMLElement) {
    systemButton.addEventListener('click', () => setTheme('system'));
  } else {
    console.error('No se encontró el botón con ID "theme-toggle-system"');
  }

  prefersDark.addEventListener('change', (e) => {
    if (localStorage.getItem('theme') === 'system') {
      setTheme(e.matches ? 'dark' : 'light');
    }
  });

  initializeTheme();
</script>

<style>
  .theme-toggle {
    display: flex;
    gap: 0.5rem;
  }
</style>